# Dynamic Generated
Platforms/SurfaceDuoFamilyPkg/Include/Resources/ReleaseInfo.h
Platforms/SurfaceDuo1Pkg/Include/Resources/ReleaseInfo.h
Platforms/SurfaceDuo2Pkg/Include/Resources/ReleaseInfo.h

Silicon/QC/Sm7125/QcomPkg/Include/Configuration/DeviceConfigurationMap.h
Silicon/QC/Sm7325/QcomPkg/Include/Configuration/DeviceConfigurationMap.h
Silicon/QC/Sm8150/QcomPkg/Include/Configuration/DeviceConfigurationMap.h

# Local
.DS_Store
.vs
.vscode
.img
scripts/padding

/Build/
.DS_Store
*_extdep/
*.pyc
__pycache__/
tags/
.vscode/
*.bak
BuildConfig.conf
uefi_*.img
android-boot.img

/Conf/
/SurfaceDuo/

# IDA Pro Runtime temporary file
*.id0
*.id1
*.id2
*.nam
*.til

# IDA Pro 64 packaged data
*.i64
# IDA Pro 32 packaged data
*.idb
